// Typography and font sizes
$font-stack: "Helvetica Neue", Roboto, Arial, sans-serif;

$font-scaler: 1.2;
$base-font-size: .9em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Colors
$body-background-color: #1fb189;
$tweet-background-color: #f6f7f8;
$tweet-separator-color: #999;
$profile-image-border-color: #fff;
$tweet-text-link-color: #ea474e;
$tweet-screen-name-color: #656667;

// Lengths

// Device sizes
$tablet-width: 768px;
$desktop-width: 1025px;
